<div id="haut">
    <button class="btnVert" type="button"></button>
    <button class="btnBlanc" type="button"></button>
    <button class="btnJaune" type="button"></button>
    <button class="btnRouge" type="button"></button>
    <button class="btnViolet" type="button"></button>
    <button class="btnFilter" type="button"> <img src="../../assets/icones/entonoir.png" alt="image de fond"></button>
</div>

<ul id="listeTache">
    <li *ngFor="let latache of listeTache" (click)="tacheSelectionne(latache)">
        <app-tache-item [_tache]="latache"></app-tache-item>
    </li>
</ul>

<div>
    <button class="btnAjout" type="button">Ajouter</button>
</div>