#haut {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #317233;
}

#listeTache {
    max-height: 100%;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
}