<div id="haut">
    <div class="btnRond">
        <button id="btnVert" (click)="onPriorityChange(0)"></button>
        <button id="btnBlanc" (click)="onPriorityChange(1)"></button>
        <button id="btnJaune" (click)="onPriorityChange(2)"></button>
        <button id="btnRouge" (click)="onPriorityChange(3)"></button>
        <button id="btnViolet" (click)="onPriorityChange(4)"></button>
    </div>
    <button class="btnFilter" type="button"> <img src="assets/icones/filter.png" alt="image de fond"></button>
</div>

<ul id="listeTache">
    <li *ngFor="let latache of listeTache" (click)="tacheSelectionne(latache)">
        <app-tache-item [_tache]="latache"></app-tache-item>
    </li>
</ul>

<div>
    <button class="btnAjout" type="button" (click)="showPopup()">Ajouter</button>
</div>