<h2>Filtres</h2>

<label for="tri">Trier par: </label>
<select id="tri" (change)="onTrierChange($event)">
    <option *ngFor="let filtre of filtres" [value]="filtre">{{isFiltre(filtre) ? FiltreInfos[filtre] : ''}}</option>
</select>

<hr>

<label for="etat">État: </label>
<select id="etat" (change)="onFiltrerChange($event)">
    <option *ngFor="let etat of etats" [value]="etat">{{isEtat(etat) ? EtatInfos[etat] : ''}}</option>
</select>

<hr>

<label for="theme">Thème: </label>
<select id="theme" (change)="onThemeChange($event)">
    <option *ngFor="let theme of themes" [value]="theme">{{isEtat(theme) ? ThemesInfo[theme]: ''}}></option>
</select>

<hr>