<div class="contentTheme">
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/personne.png" alt="theme perso"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/pro.png" alt="theme professionnel"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/livre.png" alt="theme educations"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/calendar.png" alt="theme gestion de projet"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/sante.png" alt="theme sante et bien etre"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/etoile.png" alt="theme evenement"></button>
    </div>
    <div class="divTheme">
        <button><img class="background" src="../../assets/icones/eponge.png" alt="theme tache domestique"></button>
    </div>
</div>
