.select{
    margin-top: 10px;
    margin-bottom: 20px;
    border : none;
    padding: 5px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.162), rgba(205, 205, 205, 0.083));
    backdrop-filter: blur(10px);
    font-size: 90%;
}

.label{
    margin-top: 10px;
    margin-bottom: 20px;
    border : none;
    padding: 5px;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.162), rgba(205, 205, 205, 0.083));
    backdrop-filter: blur(10px);
    font-size: 90%;
    border-radius: 5px;
    border-color: rgba(255, 255, 255, 0.14);
    border-style: solid;
    border-width: 2px;
    box-shadow: inset 0 0 1em rgba(168, 168, 168, 0.478);
}


.select option {
    color: rgb(0, 136, 255);
}

.contentTheme{
    width: 100%;
    align-items: center;
}

.divTheme{
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.14);
    border-style: solid;
    border-width: 2px;
    box-shadow: inset 0 0 1em rgba(168, 168, 168, 0.478);
    flex: 1;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.162), rgba(205, 205, 205, 0.083));
    backdrop-filter: blur(10px);
    margin-top: 40%;
    margin-bottom: 40%;
    display: flex;
    align-items: center;
    width: 90%;
}

.divTheme button{
    width: 100%;
    min-width: 40px;
    height: auto;
    min-height: 40px;
    background-color: rgba(168, 168, 168, 0);
    border: none;
    cursor: pointer;
}

.divTheme button img{
    width: 90%;
}

.divTheme:hover{
    transition: transform 0.2s ease;
    transform: translate(10px,0px);
}

.divTheme:not(:hover){
    transition: transform 0.2s ease;
    transform: translate(0px,0px);
}