.outside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: currentColor;
    transition: background-color 0.2s ease;
}

.outside:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.outside:hover {
    background-color: currentColor;
}

.echeance {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8em;
}