<div id="dt-outside">
    <!-- Affichage uniquement si une tache a été selectionnée/cliquée-->
    <table *ngIf="tache" class="content_table">
        <!-- affichage des détails-->
        <tr>
            <th>{{tache.intitule}}</th>
        </tr>
        <tr>
            <td>Date de création: {{dateCreatStr}}</td>
        </tr>
        <tr>
            <td>Date d'echéance: {{dateEcheanceStr}}</td>
        </tr>
        <tr>
            <td>Description: {{tache.description}}</td>
        </tr>
        <tr>
            <td>Priorité: {{prioriteStr}}</td>
        </tr>
        <tr>
            <td>Etat: {{etatStr}}</td>
        </tr>
        
        <tr>
            <td><button type="button" class="btnModif" (click)="showPopupM()">Modifier</button></td>
            <td><button type="button" class="btnSuppr">Supprimer</button></td>
        </tr>    
    </table>

    
</div>
