<div id="dt-outside">
    <!-- Affichage uniquement si une tache a été selectionnée/cliquée-->
    <div *ngIf="tache" class="content_table">
        <!-- affichage des détails-->
        <h1>{{tache.intitule}}</h1>
        <div class="maxprogressbar">
            <div class="progressbar"></div>
        </div>
        <div>
            <div class="datecrea">{{dateCreatStr}}</div>
            <div class="datefin">{{dateEcheanceStr}}</div>
        </div>
        <div class="descr">{{tache.description}}</div>
        <div>Priorité: {{prioriteStr}}</div>
        <div>Etat: {{etatStr}}</div>
        
        <div class="buttontr">
            <button type="button" class="btnModif" (click)="showPopupM()">Modifier</button>
            <button type="button" class="btnSuppr" (click)="suppTache()">Supprimer</button>
            <button type="button" class="btnTermine"><img src="assets/icones/termine.png" alt="Terminer cette tâche" (click)="terminerTache()"></button>
        </div>    
    </div>

</div>
