.btnSuppr {
    padding: 10px;
    background-color: #ff613e90;
    width: auto;
    font-size: 100%;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: right;
    margin-left: auto;
    margin-top: 20px;
}
.btnSuppr:hover {
    background-color: #d24f3290;
}

.btnModif {
  padding: 10px;
  background-color: #64a87190;
  width: auto;
  font-size: 100%;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  float: right;
  margin-left: auto;
  margin-top: 20px;
}
.btnModif:hover {
  background-color: #59956490;
}

.content_table{
    display: grid;
    grid-template-rows: 2% 2% 2% 2% auto 5%;
    grid-gap :10px;
    grid-auto-rows: minmax(100px,auto);
    width: 100%;
  }

#dt-outside table{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

#dt-outside table tr th{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-size: 30px;
}

#dt-outside table tr td{
    text-align: left;
    padding-top: 50px;
    font-size: 120%;
}

.datecrea{
  flex:1;
  float: left;

}

.datefin{
  flex:1;
  float: right;
}