.btnSuppr {
    padding: 10px;
    background-color: #ff613e90;
    width: auto;
    font-size: 100%;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
    margin-left:10px;
    margin-top: 20px;
}

.btnSuppr:hover {
    background-color: #d24f3290;
}

.btnModif {
  padding: 10px;
  background-color: #64a87190;
  width: auto;
  font-size: 100%;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  float: left;
  margin-left: auto;
  margin-top: 20px;
}

.btnModif:hover {
  background-color: #59956490;
}

.btnTermine {
  flex: 1;
  cursor: pointer;
  float: right;
  border:none;
  background-color: #5c376d00;
}

.btnTermine img {
  position:inherit;
  width: 100%;
  height:100%;
}

.btnTermine :hover {
  transition: transform 0.2s ease;
  transform: scale(1.3);
}

.btnTermine :not(:hover) {
  transition: transform 0.2s ease;
  transform: scale(1);
}

.content_table{    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 5% 2% 5% 65% 2% 2%;
    grid-gap :10px;
    grid-auto-rows: minmax(100px,auto);

  }

.content_table h1 {
  text-align: center;
  height: fit-content;
}

.content_table div div {
  display: flex;
}

.datecrea {
  text-align: left;
  width: auto;
  flex: left;
  float: left;
}

.datefin {
  text-align: right;
  width: auto;
  flex: 1;
  float: right;
}

.maxprogressbar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  /*border: solid rgba(255, 255, 255, 0.171);*/
  border-radius: 10px;
  border-width: 1px;
  border-right-color: rgba(255, 255, 255, 0);
}

.progressbar {
  background-color: rgba(98, 46, 240, 0.363);
  width: 87%;
  height: 100%;
  border-radius: 10px;
}

#dt-outside{
  height: 100%;
  font-size: 120%;
}

.buttontr{
  flex:1;
  float:left;
}

.descr{
  text-align: justify;
  height: 100%;
  font-size: 20px;
  overflow-y: needed ;
}