<div class="popup-container">
    <!-- Contenu de votre popup -->

    <h1>Nouvelle tâche</h1>
    <form>
      
      <label for="nom">Nom : </label>
      <input class="inputNom" type="text" id="nom" name="nom" required>

      <br>

      <label for="dateEcheance">Date d'échéance :</label>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choisir une date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <br>
      
      <textarea type="textarea" class="textarea" placeholder="Description"></textarea>

      <br>

      <label for="priorite">Priorité :</label>
      <div class="btnRond">
        <button class="btnVert" [class.selected]="selectedButton === 0" (click)="selectButton(0)"></button>
        <button class="btnBlanc" [class.selected]="selectedButton === 1" (click)="selectButton(1)"></button>
        <button class="btnJaune" [class.selected]="selectedButton === 2" (click)="selectButton(2)"></button>
        <button class="btnRouge" [class.selected]="selectedButton === 3" (click)="selectButton(3)"></button>
        <button class="btnViolet" [class.selected]="selectedButton === 4" (click)="selectButton(4)"></button>
      </div>

      <br>

      <label for="priorite">État :</label>
      <!--A refaire-->
      <label>
        <input type="radio" [class.selected]="selectedEtat === 'aFaire'" (click)="selectEtat('aFaire')" (select)=true> À faire
      </label>
      
      <label>
        <input type="radio" [class.selected]="selectedEtat === 'enCours'" (click)="selectEtat('enCours')"> En cours
      </label>
      
      <label>
        <input type="radio" [class.selected]="selectedEtat === 'termine'" (click)="selectEtat('termine')"> Terminé
      </label>


    </form>

    <div class="popup-buttons">
      <button class="btnPopA" (click)="closePopup()">Annuler</button>
      <button class="btnPopV" (click)="submit()">Valider</button>
    </div>

  </div>
