body {
  margin: 0;
  padding: 0;
  font-family: Roboto Mono, sans-serif;
  transition: background-color 0.5s;
  color: rgb(56, 49, 75);
  background-clip:initial;
}

img.background{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  /*-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  /*filter: blur(3px);*/
}

#page_content{
  display: grid;
  grid-template-columns: 8% 30% auto;
  grid-gap :10px;
  grid-auto-rows: minmax(100px,auto);
  width: 100%;
}

.column {
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.14);
  border-style: solid;
  border-width: 2px;
  box-shadow: inset 0 0 1em rgba(168, 168, 168, 0.478);
  flex: 1;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.162), rgba(205, 205, 205, 0.083));
  backdrop-filter: blur(10px);
  padding: 15px;
  margin: 10px;
  height: 75vh; /*prend 65% de la hauteur de la page A REVOIR SELON BARRE HORAIRE*/
}

/*Horloge*/
#date {
  text-align: center;
  font-size: 0.75em;
}

/* Thèmes */

.gestionPerso-theme {
  background-color: #FFE299;
  color: #4B4A67;
}

.travailPro-theme {
  background-color: #B195A5;
  color: #4B4A67;
}

.etudes-theme {
  background-color: #8EB8CD;
  color: #4B4A67;
}

.gestionProjet-theme {
  background-color: #F7EBEC;
  color: #4B4A67;
}

.sante-theme {
  background-color: #81AE9D;
  color: #4B4A67;
}

.organisation-theme {
  background-color: #EE8190;
  color: #4B4A67;
}

.tachesDomestique-theme {
  background-color: #F17455;
  color: #4B4A67;
}

#filter{
  text-align: left;
  overflow: hidden;
}

/*
#filter:hover{
  text-align: left;
  width:auto;
}
*/

#tasks{
  text-align: justify;
  overflow: hidden;

}

#content{
  text-align: justify;
  overflow:hidden;
  
}