body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s;
}

img.background{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
}

section {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.column {
  border-radius: 7%;
  flex: 1;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.248), rgba(128, 51, 0, 0.275));
  padding: 15px;
  margin: 10px;
  height: 73vh; /*prend 65% de la hauteur de la page A REVOIR SELON BARRE HORAIRE*/
}

/*TODO revoir changement d'image lors du modifierTheme()*/
h1{
  text-align: center;
  color: red;
  padding-top: 5px;
  background-size: cover;
  background-position: center;
}
/*Horloge*/
#date {
  text-align: center;
  font-size: 0.75em;
  color: black;
}

/* Thèmes */

.gestionPerso-theme {
  background-color: #FFE299;
  color: #4B4A67;
}

.travailPro-theme {
  background-color: #B195A5;
  color: #4B4A67;
}

.etudes-theme {
  background-color: #8EB8CD;
  color: #4B4A67;
}

.gestionProjet-theme {
  background-color: #F7EBEC;
  color: #4B4A67;
}

.sante-theme {
  background-color: #81AE9D;
  color: #4B4A67;
}

.organisation-theme {
  background-color: #EE8190;
  color: #4B4A67;
}

.tachesDomestique-theme {
  background-color: #F17455;
  color: #4B4A67;
}
