<head>
    <link rel="stylesheet" href="accueil.component.css">
</head>
<body>

    <header>
        <h1>
            <div id="date">
                <p id="date-item">
                    {{dateActuelle}}
                </p>
            </div>
        </h1>
    </header>

    <section>
        <!--     Colonne des filtres     -->
        <div class="column">
            <app-filtre-tache></app-filtre-tache>
        </div>

        <!--     Colonne affichage de la liste des tâches     -->
        <div class="column">
            <app-liste-tache></app-liste-tache>
        </div>


        <!--     Colonne de l'affichage des détails d'une tâche     -->
        <div class="column">
            <app-details-tache></app-details-tache>
        </div>
    </section>
</body>

<footer></footer>